<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="File" fileName="./log/output.log" bufferedIO="false" advertise="true">

        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.inspire.development.database.connector.SQLite" level="trace">

        </Logger>

        <Logger name="com.inspire.development.database.connector.PostgreSQL" level="trace">

        </Logger>


        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>