<app-nav></app-nav>
<div id="content">
    <div class="row">
        <div class="col-sm-3">
            <select class="form-control" id="selectField">
                <option *ngFor="let connector of connectors">{{ connector.id }}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <div id="delDbText"></div>
        </div>
    </div>

    <div id="infoField"></div>

    <div class="row card-deck" id="tables">
        <div class="card">
            <table class="table" fixed-header>
                <thead>
                    <tr class="table-head" fixed-header>
                        <th scope="col" class="table-head-font-weight-normal">#</th>
                        <th scope="col" class="table-head-font-weight-normal">Table name</th>
                        <th scope="col" class="table-head-font-weight-normal">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="exludeAllTables" [checked]="this.allTablesExcluded" (click)="excludeAllTables()">
                                <!-- exludeAllTables -->
                                <label class="custom-control-label" for="exludeAllTables">Exclude</label>
                            </div>
                        </th>
                        <th scope="col" class="table-head-font-weight-normal">Connection name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let tablename of tableNames; let i = index;" (click)="onClickTableName(tablename)" [attr.id]=tablename class="tableRow">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ tablename }}</td>
                        <td style="text-align: center">
                            <input type="checkbox" id="{{ 'checkbox-' + tablename }}" class="excludeTable" [checked]="this.selectedConnector?.config[tablename]?.exclude" (click)="excludeTable(tablename)" />
                        </td>
                        <td>{{ this.selectedConnector?.config[tablename]?.alias }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <table class="table" fixed-header>
                <thead>
                    <tr class="table-head" fixed-header>
                        <th scope="col" class="table-head-font-weight-normal">#</th>
                        <th scope="col" class="table-head-font-weight-normal">Column name</th>
                        <th scope="col" class="table-head-font-weight-normal">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [checked]="this.allColumnsExcluded" id="excludeAllColumns" (click)="excludeAllColumns()">
                                <label class="custom-control-label" for="excludeAllColumns">Exclude</label>
                            </div>
                        </th>
                        <th scope="col" class="table-head-font-weight-normal">Property name</th>
                    </tr>
                </thead>
                <tbody *ngIf="showCols">
                    <tr *ngFor="let colname of columnNames; let i = index;" class="tableRow" (click)="onClickColumn(colname)" [attr.id]=colname>
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ colname }}</td>
                        <td style="text-align: center">
                            <input class="excludeColumn" id="{{ 'checkbox-' + colname }}" type="checkbox" [checked]="this.selectedConnector?.config[this.idTableSelected]?.map[colname]?.exclude" (click)="excludeColumn(colname)">
                        </td>
                        <td>{{ this.selectedConnector?.config[this.idTableSelected]?.map[colname]?.alias }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" id="rename">
        <div class="col-sm-6" *ngIf="showRenameTable">
            <h5>Change table properties</h5>
            <form [formGroup]="renameTableForm" (ngSubmit)="submitTable()">
                <label style="width: 100%">
                    <input type="text" formControlName="tableName" class="form-control" placeholder="New table name" />
                    <div *ngIf="tableNameSubmitted && renameTableForm.controls.tableName.errors" class="error">
                        <div *ngIf="renameTableForm.controls.tableName.errors.required">A new table name is required</div>
                    </div>
                </label>
                <br />
                <button type="submit" id="subTableName" class="btn btn-success">Rename table</button>
            </form>
        </div>
        <div class="col-sm-6" *ngIf="showRenameCol">
            <h5>Change column properties</h5>
            <form [formGroup]="renameColumnForm" (ngSubmit)="submitColumn()">
                <label style="width: 100%">
                    <input type="text" formControlName="columnName" class="form-control" placeholder="New column name" />
                    <div *ngIf="columnNameSubmitted && renameColumnForm.controls.columnName.errors" class="error">
                        <div *ngIf="renameColumnForm.controls.columnName.errors.required">A new column name is required</div>
                    </div>
                </label>
                <br />
                <div class="checkbox">
                    <label *ngIf="this.geoColumn == this.idColumnSelected">
                        <input type="checkbox" checked value="" (click)="useAsGeometry()" id="useAsGeometry" />&emsp;Use as geometry
                    </label>
                    <label *ngIf="this.geoColumn != this.idColumnSelected">
                        <input type="checkbox" value="" (click)="useAsGeometry()" id="useAsGeometry" />&emsp;Use as geometry
                    </label>
                </div>
                <div class="checkbox">
                    <label *ngIf="this.idColumn == this.idColumnSelected">
                        <input type="checkbox" value="" (click)="useAsId()" id="useAsId" />&emsp;Use as id
                    </label>
                    <label *ngIf="this.idColumn != this.idColumnSelected">
                        <input type="checkbox" value="" (click)="useAsId()" id="useAsId" />&emsp;Use as id
                    </label>
                </div>
                <button type="submit" class="btn btn-success">Rename column</button>
            </form>
        </div>
    </div>

    <div class="row" id="sql">
        <div class="col-sm-12">
            <div id="sqlError"></div>
            <h3>Write SQL</h3>
            <hr />

            <form [formGroup]="sqlForm">
                <div class="row">
                    <div class="col-sm-6">
                        <label style="width: 100%">
                            <input type="text" formControlName="collectionId" class="form-control" placeholder="Collection name" />
                            <div *ngIf="sqlSubmitted && sqlForm.controls.collectionId.errors" class="error">
                                <div *ngIf="sqlForm.controls.collectionId.errors.required">A collection name is required</div>
                            </div>
                        </label>
                    </div>
                </div>
                <label style="width: 100%;">
                    <textarea class="form-control" formControlName="sqlQuery" rows="5" placeholder="Write and execute sql here"></textarea>
                    <div *ngIf="sqlSubmitted && sqlForm.controls.sqlQuery.errors" class="error">
                        <div *ngIf="sqlForm.controls.sqlQuery.errors.required">A sql query is required</div>
                    </div>
                </label>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-success" style="width: 100%" (click)="executeSQL()">Execute</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success" style="width: 100%" (click)="testSQL()">Check</button>
                    </div>
                </div>
            </form>

            <br />
            <br />
        </div>
    </div>

    <!-- Add and remove important links from the landing page -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Important Links</h3>
            <hr />
            <div id="infoLinkField"></div>
            <div class="row">
                <div class="col-sm-6">
                    <form [formGroup]="addImportantLinkFrom" (ngSubmit)="addImportantLink()">
                        <label style="width: 100%">
                            <input type="text" formControlName="displayName" class="form-control" style="width: 100%" placeholder="Display name" />
                            <div *ngIf="addLinkSubmitted && addImportantLinkFrom.controls.displayName.errors" class="error">
                                <div *ngIf="addImportantLinkFrom.controls.displayName.errors.required">A display name is required</div>
                            </div>
                        </label>

                        <label style="width: 100%">
                            <input type="text" formControlName="addLink" class="form-control" style="width: 100%" placeholder="Add a link" />
                            <div *ngIf="addLinkSubmitted && addImportantLinkFrom.controls.addLink.errors" class="error">
                                <div *ngIf="addImportantLinkFrom.controls.addLink.errors.required">A link is required</div>
                            </div>
                        </label>
                        <br />
                        <button class="btn btn-success" type="submit">Add link</button>
                    </form>
                </div>
            </div>
            <br />
            <h5>Remove links</h5>
            <hr />
            <div *ngFor="let link of importantLinks">
                <div class="row" style="margin-top: 1%">
                    <div class="col-sm-4"><a href="{{ link.link }}">{{ link.name }}</a></div>
                    <div class="col-sm-8">
                        <div class="btn btn-danger" (click)="removeImortantLink(link.name)">Remove</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row" style="margin-left: 1%">
        <div class="col-8 col-md">
            <h5>Important Links</h5>
            <ul class="list-unstyled text-small">
                <li *ngFor="let link of importantLinks">
                    <a href="{{ link.link }}">{{ link.name }}</a>
                </li>

                <li>
                    <a class="text-muted" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="col-8 col-md">
            <h5>Lukas Gäbler</h5>
            <h6><b>Mail: </b><a href="mailto:lukas.gaebler@gmail.com?Subject=OGC%API" target="_top">lukas.gaebler@gmail.com</a></h6>
        </div>
        <div class="col-8 col-md">
            <h5>Tobias Pressler</h5>
            <h6><b>Mail: </b><a href="mailto:pressler.tobias@gmail.com?Subject=OGC%API" target="_top">pressler.tobias@gmail.com</a></h6>
        </div>
    </div>
    <div class="row" style="margin-left: 1%">
        <div class="col-sm-12">
            © 2020
        </div>
    </div>
</footer>