div#content {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.col-sm-3, button#executeSQL {
    margin-top: 1%;
}

div#tables, div#sql {
    margin-top: 2%;
}

.tableRow:hover {
    background-color: rgb(158, 158, 233)!important;
}

div#rename {
    margin-top: 1%;
}

button#subTableName {
    margin-top: 1%;
}

.error {
    color: red;
}