<app-nav></app-nav>
<div class="row">
    <div class="col-sm-6">
        <div class="card card-custom">
            <h2><b>Name: </b>Lukas Gäbler</h2>
            <h2><b>Mail: </b><a href="mailto:lukas.gaebler@gmail.com?Subject=OGC%API" target="_top">lukas.gaebler@gmail.com</a></h2>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-custom">
            <h2><b>Name: </b>Tobias Pressler</h2>
            <h2><b>Mail: </b><a href="mailto:pressler.tobias@gmail.com?Subject=OGC%API" target="_top">pressler.tobias@gmail.com</a></h2>
        </div>
    </div>
</div>