<app-nav></app-nav>
<div class="sidenav">
    <div class="properties-main-text">
        <h1>Properties</h1>
        <p>Change the properties of the DB connector</p>
    </div>
</div>
<div class="main">
    <div class="col-sm-6 col-sm-12">
        <div class="properties" style="width: 100%">
            <div class="row" style="width: 100%;">
                <div class="col-sm-6">
                    <select class="form-control shadow-sm" style="width: 100%;" id="connector">
                        <option *ngFor="let connector of this.connectors" [attr.id]=connector.class>{{ connector.id }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success shadow-sm" style="width: 100%;" (click)="testConnection()">Test connection</button>
                    <br />
                    <br />
                    <button class="btn btn-danger" id="delDb" style="width: 100%;" (click)="delConnector()">Delete DB connector</button>
                </div>
            </div>

            <div id="infoField"></div>

            <div id="content">
                <div *ngIf="this.sqlite">
                    <form [formGroup]="sqlConnectorNameForm" (ngSubmit)="sqLiteConnectorName()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Connector name
                                    <input type="text" formControlName="conName" class="form-control" placeholder="Connector name" />
                                    <div *ngIf="sqlConnectorNameSub && sqlConnectorNameForm.controls.conName.errors" class="error">
                                        <div *ngIf="sqlConnectorNameForm.controls.conName.errors.required">A connector name is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success" type="submit">Change name</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngIf="this.postgres">
                    <form [formGroup]="connectorNameForm" (ngSubmit)="submitConnectorName()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Connection name
                                    <input type="text" formControlName="conName" class="form-control shadow-sm" placeholder="Connectorname" />
                                    <div *ngIf="connectorNameSubmitted && connectorNameForm.controls.conName.errors" class="error">
                                        <div *ngIf="connectorNameForm.controls.conName.errors.required">A connector name is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success shadow-sm" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    <h3 style="margin-top: 1%">Change credentials</h3>
                    <hr />
                    <form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername()">
                        <div class="row" style="width: 100%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Username
                                    <input type="text" formControlName="newName" class="form-control shadow-sm" style="width: 100%; margin-top: 1%" placeholder="Username" />
                                    <div *ngIf="changeUserSubmitted && changeUsernameForm.controls.newName.errors" class="error">
                                        <div *ngIf="changeUsernameForm.controls.newName.errors.required">A username is required</div>
                                    </div>
                                </label>
                                <br />
                                <button type="submit" class="btn btn-success shadow-sm" style="margin-top: 1%">Change username</button>
                            </div>

                        </div>
                    </form>

                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Password
                                    <input class="form-control shadow-sm" formControlName="newPwd" style="width: 100%; margin-top: 1%" type="text" placeholder="New password" />
                                    <div *ngIf="changePasswordSubmitted && changePasswordForm.controls.newPwd.errors" class="error">
                                        <div *ngIf="changePasswordForm.controls.newPwd.errors.required">A password is required</div>
                                    </div>
                                </label>
                                <br />
                                <button type="submit" class="btn btn-success shadow-sm" style="margin-top: 1%">Change password</button>
                            </div>
                        </div>
                    </form>

                    <hr />

                    <form [formGroup]="changeHostnameForm" (ngSubmit)="changeHostname()">
                        <div class="row" style="width: 100%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Hostname
                                    <input type="text" formControlName="hostname" class="form-control shadow-sm" style="width: 100%; margin-top: 1%" placeholder="Hostname" />
                                    <div *ngIf="changeHostnameSubmitted && changeHostnameForm.controls.hostname.errors" class="error">
                                        <div *ngIf="changeHostnameForm.controls.hostname.errors.required">A hostname is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success shadow-sm" type="submit" style="margin-top: 1%">Change hostname</button>
                            </div>
                        </div>

                    </form>

                    <form [formGroup]="changePortForm" (ngSubmit)="changePort()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Port number
                                    <input type="number" formControlName="newPort" class="form-control shadow-sm" style="width: 100%; margin-top: 1%" placeholder="Port" />
                                    <div *ngIf="changePortSubmitted && changePortForm.controls.newPort.errors" class="error">
                                        <div *ngIf="changePortForm.controls.newPort.errors.required">A port is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success shadow-sm" style="margin-top: 1%">Change port</button>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="changeSchemaForm" (ngSubmit)="changeSchema()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Schema
                                    <input type="text" formControlName="newSchema" class="form-control shadow-sm" style="width: 100%; margin-top: 1%" placeholder="Schema" />
                                    <div *ngIf="changeSchmemaSubmitted && changeSchemaForm.controls.newSchema.errors" class="error">
                                        <div *ngIf="changeSchemaForm.controls.newSchema.errors.required">A schema is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success shadow-sm" style="margin-top: 1%">Change schema name</button>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="changeDatabaseForm" (ngSubmit)="changeDatabase()">
                        <div class="row" style="width: 100%; margin-top: 1%">
                            <div class="col-sm-6">
                                <label style="width: 100%">
                                    Database
                                    <input type="text" formControlName="name" class="form-control shadow-sm" style="width: 100%; margin-top: 1%" placeholder="Database" />
                                    <div *ngIf="changeDatabaseSubmitted && changeDatabaseForm.controls.name.errors" class="error">
                                        <div *ngIf="changeDatabaseForm.controls.name.errors.required">A database is required</div>
                                    </div>
                                </label>
                                <br />
                                <button class="btn btn-success shadow-sm" style="margin-top: 1%">Change database</button>
                            </div>
                        </div>
                    </form>

                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>