<app-nav></app-nav>
<div class="sidenav">
    <div class="properties-main-text">
        <h1>Properties</h1>
        <p>Change the properties of the DB connector</p>
    </div>
</div>
<div class="main">

    <div class="row" style="text-align: center">
        <div class="col-sm-6" id="sqlite" (click)="sqlite()"><h4>SQLite</h4></div>
        <div class="col-sm-6" id="postgres" (click)="postgres()"><h4>PostgreSQL</h4></div>
    </div>
    
    <form [formGroup]="changeNameForm" (ngSubmit)="changeName">
        <label>
            <input class="form-control" formControlName="newName" placeholder="New name" />
        </label>
        <br />
        <button type="submit" class="btn btn-success">Change name</button>
    </form>
</div>