.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .properties{
        margin-top: 1;
    }

}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .properties{
        margin-top: 1%;
    }

}


.properties-main-text{
    margin-top: 30%;
    padding: 60px;
    color: #000;
}

.properties-main-text h2{
    font-weight: 300;
}


.error {
    color: red;
}

.row {
    margin: 2%;
}