<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/inspire.png" width="35" height="35" class="d-inline-block align-top" alt="">
        OGC API
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="home">
          <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
        </li>
        
        <li *ngIf="this.auth.loggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [ngClass]="{'activeRoute': this.isDashboard}" class="dropdown-item" routerLink="/dashboard">Dashboard</a>
            <a [ngClass]="{'activeRoute': this.isProperties}" class="dropdown-item" routerLink="/properties">DB properties</a>
            <a class="dropdown-item" routerLink="/connector">Add connector</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">User management</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li id="imp" class="nav-item">
            <a class="nav-link active" routerLink="/imprint">Imprint</a>
          </li>
          <li *ngIf="!this.auth.loggedIn()" [ngClass]="{'activeRoute': this.isLogin}" class="nav-item">
            <a class="nav-link active" routerLink="/login">Login</a>
          </li>  
          <li *ngIf="this.auth.loggedIn()" (click)="logout()" class="nav-item">
            <a class="nav-link active">Logout</a>
          </li>
      </ul>
         
    </div>
  </nav>