/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    margin: 0;
}