<app-nav></app-nav>

<div class="row card-deck">
    <div class="card card-top">
        <p><a id="conformance" routerLink="/conformance" target="_blank">Conformance declaration</a></p>
    </div>
    <div class="card card-top">
        <p><a id="collections" routerLink="/collections" target="_blank">Feature Collections</a></p>
    </div>
</div>

<div class="row card-deck">
    <div class="card card-custom">
        <div class="card-header">API definition</div>
        <div class="card-body">
            <p class="card-text">
                The API definition provides a machine precessable
                description of this service API conformant to OpenAPI 3.
            </p>
            <p>
                It is available as
                <a href="#">application/yaml</a>,
                <a href="#">application/json</a> and
                <a href="api">text/html</a>
            </p>
            </div>
    </div>
    <div class="card card-custom">
        <div class="card-header">INSPIRE</div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="https://inspire.ec.europa.eu/" class="btn btn-primary" target="_blank">INSPIRE Website</a>
        </div>
    </div>
    <div class="card card-custom">
        <div class="card-header">What is the OGC API?</div>
        <div class="card-body">
            <p class="card-text">
                The OGC API is a REST API in which enviromental data is provided.
            </p>
            <a href="https://www.opengeospatial.org/standards/ogcapi-features" class="btn btn-primary" target="_blank">OGC API Specifications</a>
        </div>
    </div>
</div>

<br />
<!--
<div class="row card-deck">
    <div class="card">
        <div class="card-header">Important Links</div>
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>
</div>-->
<div class="row"  style="margin-bottom: 2%">
    <div class="col-sm-8">
        <div class="card" style="width: 100%">
            <div id="map" class="map"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div style="height: 400px; overflow: auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Collection</th>
                        <th scope="col">Use</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let thing of collections; let i = index;" class="tableRow">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ thing.id }}</td>
                        <td style="text-align: center">
                            <input type="checkbox" /> <!-- [checked]="this.selectedConnector?.config[tablename]?.exclude" -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-8 col-md">
            <h5>Important Links</h5>
            <ul class="list-unstyled text-small">
                <li *ngFor="let link of importantLinks">
                    <a href="{{ link.link }}">{{ link.name }}</a>
                </li>
                
            <li><a class="text-muted" href="#"></a></li>
            </ul>
        </div>
        <div class="col-8 col-md">
            <h5>Lukas Gäbler</h5>
            <h6><b>Mail: </b><a href="mailto:lukas.gaebler@gmail.com?Subject=OGC%API" target="_top">lukas.gaebler@gmail.com</a></h6>
        </div>
        <div class="col-8 col-md">
            <h5>Tobias Pressler</h5>
            <h6><b>Mail: </b><a href="mailto:pressler.tobias@gmail.com?Subject=OGC%API" target="_top">pressler.tobias@gmail.com</a></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            © 2020
        </div>
    </div>
  </footer>
