<app-nav></app-nav>

<div class="row card-deck">
    <div class="card card-top">
        <p>Conformance declaration</p>
    </div>
    <div class="card card-top">
        <p><a id="collections"routerLink="/collections" target="_blank">Feature Collections</a></p>
    </div>
</div>

<div class="row card-deck">
    <div class="card card-custom">
        <div class="card-header">API definition</div>
        <div class="card-body">
            <p class="card-text">
                The API definition provides a machine precessable 
                description of this service API conformant to OpenAPI 3.
            </p>
            <p>
                It is available as 
                <a href="#">application/yaml</a>, 
                <a href="#">application/json</a> and 
                <a href="#">text/html</a>
            </p>
            </div>
    </div>
    <div class="card card-custom">
        <div class="card-header">INSPIRE</div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="https://inspire.ec.europa.eu/" class="btn btn-primary" target="_blank">INSPIRE Website</a>
        </div>
    </div>
    <div class="card card-custom">
        <div class="card-header">What is the OGC API?</div>
        <div class="card-body">
            <p class="card-text">
                The OGC API is a REST API in which enviromental data is provided.
            </p>
            <a href="https://www.opengeospatial.org/standards/ogcapi-features" class="btn btn-primary" target="_blank">OGC API Specifications</a>
        </div>
    </div>
</div>

<br />
<!--
<div class="row card-deck">
    <div class="card">
        <div class="card-header">Important Links</div>
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>
</div>-->
<div class="row card-deck"  style="margin-bottom: 2%">
    <div class="card">
        <div id="map" class="map"></div>
    </div>
</div>

<footer class="border-top">
    <div class="row">
      <div class="col-sm-4">
        <h5>Important links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Link 0</a></li>
          <li><a class="text-muted" href="#">Link 1</a></li>
          <li><a class="text-muted" href="#">Link 2</a></li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h5>Contact</h5>
        <div class="row">
            <div class="col-sm-4">
                <h5>Lukas Gäbler</h5>
                <h6><b>Mail: </b><a href="mailto:lukas.gaebler@gmail.com?Subject=OGC%API" target="_top">lukas.gaebler@gmail.com</a></h6>
            </div>
            <div class="col-sm-4">
                <h5>Tobias Pressler</h5>
                <h6><b>Mail: </b><a href="mailto:pressler.tobias@gmail.com?Subject=OGC%API" target="_top">pressler.tobias@gmail.com</a></h6>
            </div>
        </div>
    </div>
    </div>
  </footer>

