<app-nav></app-nav>

<div class="row card-deck">
    <div class="card card-top shadow-sm">
        <p>Conformance declaration</p>
    </div>
    <div class="card card-top shadow-sm">
        <p><a id="collections"routerLink="/collections" target="_blank">Feature Collections</a></p>
    </div>
</div>

<div class="row card-deck">
    <div class="card card-custom shadow-sm">
        <div class="card-header">API definition</div>
        <div class="card-body">
            <p class="card-text">
                The API definition provides a machine precessable 
                description of this service API conformant to OpenAPI 3.
            </p>
            <p>
                It is available as 
                <a href="#">application/yaml</a>, 
                <a href="#">application/json</a> and 
                <a href="#">text/html</a>
            </p>
            </div>
    </div>
    <div class="card card-custom shadow-sm">
        <div class="card-header">INSPIRE</div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="https://inspire.ec.europa.eu/" class="btn btn-primary" target="_blank">INSPIRE Website</a>
        </div>
    </div>
    <div class="card card-custom shadow-sm">
        <div class="card-header">What is the OGC API?</div>
        <div class="card-body">
            <p class="card-text">
                The OGC API is a REST API in which enviromental data is provided.
            </p>
            <a href="https://www.opengeospatial.org/standards/ogcapi-features" class="btn btn-primary" target="_blank">OGC API Specifications</a>
        </div>
    </div>
</div>