<app-nav></app-nav>
<div class="sidenav">
    <div class="login-main-text">
       <h1>Application Login</h1>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <input type="text" class="form-control shadow-sm" placeholder="Username">
             </div>
             <div class="form-group">
                <input type="password" class="form-control shadow-sm" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-success shadow-sm">Login</button>
          </form>
       </div>
    </div>
 </div>